body{
    height: 100vh;
    background-image: url(../imagens/pexels-photoscom-93398.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 570px){
    body{
        background-image: url(../imagens/pexels-photoscom-93398-mod.jpg);
        background-position: right bottom;
    }
}