@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#3398cc, #000000);
    background-repeat: no-repeat;
    background-position: left bottom;
}
form{
    background-color: transparent;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

fieldset{
    border: 1px solid black;
    border-radius: 13px;
    background-color: white;
}

legend{
    margin-left: 15px;
    padding: 0 5px;
}

#logo img{
    width: 300px;
    height: 300px;
}

label{
    display: block;
    text-align: center;
    margin: 10px 0;
}
.btn{
    display: block;
    width: 250px;
    height: 35px;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

@media (max-width: 900px){
    body{
        background-size: 100%;
        background-image: linear-gradient(#3398cc, #000000);
    }
    legend{
        position: relative;
        top: 9px;
        border-top: 1px solid black;
    }
}
